/* Estilo general de la tarjeta */
.card-sales {
    width: 50%;
    height: 200px;
    border: 1px solid gainsboro;
    box-shadow: 10px 5px 5px gainsboro;
    overflow: hidden;
  }
  
  /* Estilo específico del texto dentro de la tarjeta */
  .card-sales p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  /* Opcional: Estilo para los encabezados dentro de la tarjeta */
  .card-sales h1 {
    font-size: 30px; /* Ajusta el tamaño del encabezado según tus necesidades */
    margin-bottom: 10px; /* Ajusta el margen inferior según tus necesidades */
  }
  
  

  .text-small{
    font-size: 20px !important;
}

.text-big{
    font-size: 40px;
}

.h-90{
    min-height: 84.6%;
  }