.text{
    color: red;
}
.z-index{
    z-index: 999;
}

::ng-deep .green-snackbar {
    background-color: green;
    color: white;
  }
  
  ::ng-deep .red-snackbar {
    background-color: red;
    color: white;
  }

  #imagenes{
    position: relative;
  }
  #AngularLogo,
  #AngularLogoHover {
    position: absolute;
    width: 600px;
    transition: opacity 0.5s ease-in-out;
  }

  #AngularLogoHover {
    opacity: 0;
    
  }
  
  #imagenes:hover #AngularLogo{
    opacity: 0;
  }
  
  #imagenes:hover #AngularLogoHover {
    opacity: 1;
  }

  .error{
    border: 1px solid red;
  }
  .success{
    border: 1px solid green;
  }

  .fbInput{
    color: red;
  }