.h-10{
    height: 10%;
}


.ml-14{
    margin-left: 14%;
}

.div-main > div {
    margin: 30px; 
}



.pt-100{
    padding-top: 100px;
}

.lista li{
    margin: 50px 0px 50px 0;
}



ul.lista li {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

ul.lista li:hover {
    background-color: #eee; 
    border-radius: 10px;
}


.lista2 li{
    padding: 10px;
    border-radius: 10px;
}
.lista2 li:hover{
    background-color: #007bff;

}

/* Estilos para la barra que separa el menú del contenido */
.border-right-black{
    margin-top: 20px;
    border-right: 1px solid black; /* Color y grosor de la barra izquierda */
}

/* Estilos para el título y el párrafo */
main h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

main p {
    font-size: 40px;
    line-height: 1.5;
}

.bg-azul{
    background-color: #104b86!important;
}

.icon{
    width: 70px;
}

.btn:hover{
    background-color: rgb(0, 0, 0, 0.5);
}

.opciones-adicionales{
    padding: 10px;
    width: 200px;
    border: white 1px solid;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    z-index: 1;
    padding: 10px;
}
.opciones-adicionales li{
    border-bottom: 1px solid #d1cccc;
    border-radius: 0;
}
.despliegue:hover > .opciones-adicionales {
    visibility: visible;
    opacity: 1;
    pointer-events: auto; 
  }

  .menuUser{
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 110%;
    left: -200%;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    z-index: 1;
    border: 1px solid white;
}
.liMenuUser:hover > .menuUser {
    visibility: visible;
    opacity: 1;
    pointer-events: auto; 
  }
  .widthLista{
    width: 250px;
  }

  #listaPerfil li{
    border-bottom: 1px solid #d1cccc;
    border-radius: 0;
    margin-bottom: 10px;
  }
  
  #listaOpEmpleo li:hover {
    background-color: rgba(128, 128, 128, 0.39);
    cursor: pointer;
    border-bottom: 1px solid black;
    cursor: pointer;
  }

  .btn-close-session{
    background-color: #004f83;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  #listaPerfil li:hover{
    background-color: rgba(128, 128, 128, 0.39);
    cursor: pointer;
    border-bottom: 1px solid black;
  }
  
.h-30{
    height: 30%;
    border-radius: 0 0 50% 50%/0 0 30% 30%;
    width: 110%;
    margin: 0 -5%;

}
h1{
    margin: 0;
}
.btn{
    background-color: transparent;
}



.p-absolute{
    position: absolute;
    top: 100%;
}

.border-radius10{
    border-radius: 10px;
}

.bg-gradient {
    position: relative;
    overflow: hidden;
    background: radial-gradient(circle,#004f83 0,#00ADD9 100%);
  }
  
  .bg-gradient::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent 0%, rgba(255, 255, 255, 0.2) 70%);
    transform: scale(0);
    transform-origin: center center;
    transition: transform 0.5s ease;
    pointer-events: none;
  }
  
  .bg-gradient:hover::before {
    transform: scale(2);
  }
  
  .margin-icon{
    margin: 0px 0px 0px 80px;
  }


.imgCirculo{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.text-medium{
    font-size: 25px !important;
}

.text-small{
    font-size: 20px !important;
}

.text-big{
    font-size: 40px;
}

.update-icon{
    right: 0;
}

.margin-button{
    margin-bottom: 50px;
}
footer{
    background-color: #004f83;
}