<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8232721784.js" crossorigin="anonymous"></script>
    <title>Register</title>
</head>
<body>
    <header class="vw-100 position-fixed bg-transparent h-10 d-flex justify-content-end z-index">
        <div class="w-50">
            <ul class="d-flex justify-content-around align-items-center list-unstyled h-100 text-white">
                <li class="h-100 d-flex align-items-center">Sobre nosotros</li>
                <li class="h-100 d-flex align-items-center">Nuestros servicios</li>
                <li class="h-100 d-flex align-items-center">Contactanos</li>
                <li><button class="btn btn-outline-success" (click)="navegarLogin()"><i class="fas fa-user" style="color: blue;"></i>Cerrar sesión</button></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="contenedor-imagen">
            <div class="capa-negra-opaca"></div>
            <img class="w-100 imagenBus" src="assets/images/bus.jpg" alt="Descripción de la imagen">
        </div>  

        <div class="d-flex vw-100 h-100 justify-content-center">
            <div class="w-50 h-100 d-flex flex-column align-items-center p-5">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem mollitia excepturi suscipit a, voluptates numquam, consequatur quam nam, in voluptas cupiditate maxime. Beatae pariatur, dolore architecto neque sequi magnam nihil?</p>
                </div>
            </div>
            <div class="w-25 h-100 d-flex flex-column align-items-center justify-content-center p-5">
                <h4>Bienvenido al dasboard!</h4>
                <div>
                    <p>¿Que deseas hacer?</p>
                </div>
                <div>
                    <p>1: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quia odio facere excepturi vitae quam. Non aspernatur exercitationem error fugiat mollitia ducimus dolorem libero, id officia, delectus debitis excepturi corrupti?</p>
                    <p>2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quia odio facere excepturi vitae quam. Non aspernatur exercitationem error fugiat mollitia ducimus dolorem libero, id officia, delectus debitis excepturi corrupti?</p>
                    <p>3: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quia odio facere excepturi vitae quam. Non aspernatur exercitationem error fugiat mollitia ducimus dolorem libero, id officia, delectus debitis excepturi corrupti?</p>
                    <p>4: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quia odio facere excepturi vitae quam. Non aspernatur exercitationem error fugiat mollitia ducimus dolorem libero, id officia, delectus debitis excepturi corrupti?</p>
                    <p>5: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quia odio facere excepturi vitae quam. Non aspernatur exercitationem error fugiat mollitia ducimus dolorem libero, id officia, delectus debitis excepturi corrupti?</p>
                </div>
            </div>
            
        </div>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
