.h-10{
    height: 10%;
}

.z-index{
    z-index: 999;
}
.ml-14{
    margin-left: 14%;
}

.div-main > div {
    margin: 30px; 
}



.pt-100{
    padding-top: 100px;
}

.lista li{
    margin: 50px 0px 50px 0;
}



ul.lista li {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

ul.lista li:hover {
    background-color: #eee; 
    border-radius: 10px;
}


.lista2 li{
    padding: 10px;
    border-radius: 10px;
}
.lista2 li:hover{
    background-color: #007bff;

}

/* Estilos para la barra que separa el menú del contenido */
.border-right-black{
    margin-top: 20px;
    border-right: 1px solid black; /* Color y grosor de la barra izquierda */
}

/* Estilos para el título y el párrafo */
main h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

main p {
    font-size: 40px;
    line-height: 1.5;
}

.bg-azul{
    background-color: #1976D2;
}

.icon{
    width: 70px;
}

.btn:hover{
    background-color: rgb(0, 0, 0, 0.5);
}