
    <header class="vw-100 position-fixed h-10 d-flex justify-content-between px-5 z-index bg-azul">
        <div class="d-flex justify-content-center align-items-center">
            <img src="assets/images/IconAngular.png" alt="Icono angular" class="icon">
        </div>
        <div class="w-50">
            <ul class="d-flex justify-content-around align-items-center list-unstyled h-100 text-white">
                <li class="h-100 d-flex align-items-center">Sobre nosotros</li>
                <li class="h-100 d-flex align-items-center">Nuestros servicios</li>
                <li class="h-100 d-flex align-items-center">Contactanos</li>
            </ul>
        </div>
    </header>
    <main class="pt-100">


        <div class="d-flex vw-100 h-100 justify-content-center px-5">
            <div class="w-25 h-100 d-flex flex-column align-items-center p-5">
                <img src="assets/images/register.jpg" alt="Imagen register">
                <p>Registrate con nosotros para tener una experiencia unica</p>
            </div>
            <div class="w-75 h-100 d-flex flex-column align-items-center justify-content-center p-5">
                <h4>Registrate</h4>
                <div class="form w-100">
                    <div class="d-flex justify-content-center div-main" id="divContentForms">
                        <div>
                            <label for="tipoID" class="form-label">Tipo de identificación</label>
                            <select name="tipoID" id="tipoID" class="form-select border border-success">
                                <option value="CC">CC</option>
                                <option value="TI">TI</option>
                                <option value="CE">CE</option>
                            </select>
                        </div>
                        <div class="divId">
                            <label for="ID" class="form-label">Número de identificación</label>
                            <input name="ID" id="ID" class="form-control" (change)="validarCampos()" [(ngModel)]="inputId">
                            <span class="fbInput">{{infoId}}</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center div-main" id="divContentForms">
                        <div class="divEmail">
                            <label for="email" class="form-label">Email:</label>
                            <input name="email" id="email" class="form-control" (change)="validarCampos()" [(ngModel)]="inputEmail">
                            <span class="fbInput">{{infoEmail}}</span>
                        </div>
                        <div class="div">
                            <label for="pass" class="form-label">Contraseña</label>
                            <input name="pass" id="pass" class="form-control" (change)="validarCampos()" [(ngModel)]="inputPassword">
                            <span class="fbInput">{{infoPassword}}</span>
                        </div>
                    </div>
                    <div class="form-check form-check-inline ml-14">
                        <input type="checkbox" name="check" id="check" class="form-check-input border border-success">
                        <label for="check">Aceptar terminos y condiciones</label>
                    </div>
                    <div class="w-100 d-flex justify-content-center">
                        <button (click)="createUser()" class="btn btn-outline-success">Registrar</button>
                    </div>
                    <div class="w-100 d-flex justify-content-center">
                        <button (click)="navegarLogin()" class="btn btn-link">Regresar al login</button>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
    <footer>

    </footer>

